<h1>Editing Photo</h1>
<form method="post">
    <input name="id" value="{{photo.id}}" type="hidden">
    Title: <input name="title" value="{{photo.title}}"><br>
    Description: <input name="description" value="{{photo.description}}"><br>

    <label>
        Visibility:
        <select name="visibility">
            <option value="private" {{photo.selectPrivate}}>Private</option>
            <option value="public" {{photo.selectPublic}}>Public</option>
        </select>
    </label><br>

    <input type="submit" value="Save">
</form>