<link rel="stylesheet" href="/static/style.css">

<h1>Search Results</h1>

{{#if photos.length}}
    <div class="album-grid">
        {{#each photos}}
        <div class="photo-card">
            <a href="/photo-details/{{id}}">
                <img src="/photos/{{filename}}" alt="{{title}}">
            </a>
            <p>{{title}}</p>
        </div>
        {{/each}}
    </div>
{{else}}
    <p>No photos found.</p>
{{/if}}

<a class="back-link" href="/">Back to Home</a>
