<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Photo Details</h1>
<a href="/edit-photo?pid={{photo.id}}">edit</a><br>
Title: {{photo.title}}<br>
Description: {{photo.description}}<br>
Visibility: {{photo.visibility}}<br>
<img src="/photos/{{photo.filename}}">
</body>